version: '3.8'

services:
  backend:
    build: ./backend
    container_name: ether_backend
    ports:
      - "${PORT:-3001}:${PORT:-3001}"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://ether_mongo:27017/ether
      - REDIS_URL=redis://ether_redis:6379
      - WS_URL=http://ether_server:3002
      - CENTRAL_WEBSOCKET_URL=http://ether_server:3002
    networks:
      - ether-net

networks:
  ether-net:
    external: true
