version: '3.8'

services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - ether-network

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis-data:/data
    networks:
      - ether-network

  server:
    build: ./server
    command: npm run dev
    depends_on:
      - mongo
      - redis
    ports:
      - "3002:3002"
    environment:
      - MONGO_URI=mongodb://mongo:27017/ether
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - ether-network

volumes:
  mongo-data:
  redis-data:


networks:
  ether-network:
    driver: bridge
