version: "3.8"
services:
  mongodb:
    image: mongo:6
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - ../backend/.env
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://root:example@mongodb:27017/ether?authSource=admin
      - REDIS_URL=redis://redis:6379
      - PORT=5000
    depends_on:
      - mongodb
      - redis
    ports:
      - "5000:5000"
    volumes:
      - ../backend:/usr/src/app
      - ../me:/usr/src/me
      - /usr/src/app/node_modules
    command: [ "npm", "run", "dev" ]

  ws-server:
    build:
      context: ../server
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=development
      - REDIS_URL=redis://redis:6379
      - MONGO_URI=mongodb://root:example@mongodb:27017/ether?authSource=admin
      - WS_PORT=4000
    depends_on:
      - redis
      - mongodb
    ports:
      - "4000:4000"
    volumes:
      - ../server:/usr/src/app
      - /usr/src/app/node_modules
    command: [ "npm", "run", "dev" ]

volumes:
  mongo_data:
